# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/
.env*
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store

# PyCharm / IntelliJ
.idea/
*.iml

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
#static/
*.migrations/
**/migrations/*.py
!**/migrations/__init__.py
# Django cache
*.cache

# Pytest
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
Pipfile.lock
poetry.lock

# Docker
*.log
docker-compose.override.yml
.dockerignore

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
/calls/static/
celerybeat-schedule
pg_data/
wait-for-it.sh